.c-deflist {
  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }

  &__label {
    clear: left;
    float: left;
    margin-bottom: 8px;
    min-width: 165px;

    &::after {
      content: ":";
      float: right;
    }
  }

  &__value {
    margin-bottom: 8px;
    margin-left: 165px;
    padding-left: 4px;
  }
}
