$separator-color: #999;

@page {
  size: 210mm 297mm;
}

@media print {
  @page {
    margin: 0 .5cm;
  }
}

table {
  width: 100%;
  margin-bottom: 8px;
}

thead th:nth-child(1) {
  text-align: left;
}

thead th:nth-child(2) {
  text-align: left;
  width: 20%;
}

thead th:nth-child(3),
tbody td:nth-child(3) {
  width: 15%;
  text-align: right;
}

th,
td {
  padding: 4px 8px;
  border-color: #aaa;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

td {
  border-bottom: 0;
}

hr {
  display: grid;
  width: 100%;
  margin: 0;
}

.row {
  font-size: 6pt;
  display: block;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.row-item {
  display: block;
  float: left;
  width: 50%;

  .left-side {
    margin: 6px 0;
    padding-right: 6px;
  }

  .right-side {
    margin: 6px 0;
    padding-left: 12px;
    border-left: 1px solid #999;
  }
}

.transaction-slip {
  padding: 8px;
  border: 1px solid #ddd;
  margin-bottom: 8px;
  page-break-inside: avoid;
}

.section-logistic-booking {
  text-align: center;
  padding-bottom: 8px;
}

.bukalapak-transaction-slip-barcode {
  border-top: 1px solid $separator-color;
  padding-top: 8px;
  margin-top: 8px;
  width: 100%;
  float: left;
  text-align: center;
}

.brand-logo {
  height: 21px;
  display: block;
  float: left;
  margin: 10px 6px;
}

.bukalapak-transaction-slip-footer {
  width: 100%;
  text-align: center;
  color: #bbb;
  font-size: 8px;
  margin-top: 8px;
}

.bukalapak-transaction-slip-info {
  border-top: 1px solid $separator-color;
  padding-top: 8px;
  float: left;
  margin-top: 8px;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.bukalapak-transaction-slip-info__left {
  border-right: 1px solid $separator-color;
  padding-right: 12px;
}

.bukalapak-transaction-slip-info__right {
  padding-left: 12px;
}

.bukalapak-transaction-slip-items {
  border-top: 1px dashed $separator-color;
  padding-top: 8px;
  float: left;
  margin-top: 8px;
  width: 100%;
}

.bukalapak-transaction-slip-section--label {
  text-transform: uppercase;
  margin-bottom: 6px;
  font-size: 7pt;
  display: inline-block;
}

.bukalapak-transaction-slip-products {
  width: 100%;
  margin-bottom: 6px;
}

.bukalapak-transaction-slip-product {
  margin-bottom: 6px;
}

.bukalapak-transaction-slip-product__info {
  border: 0;
  padding: 0;
  padding-bottom: 10px;
}

.bukalapak-transaction-slip-product__info--variant {
  margin: 0;
  font-size: 8px;
  padding-left: 24px;
}

.bukalapak-transaction-slip-product__quantity {
  border: 0;
  padding: 0;
  padding-bottom: 10px;
  min-width: 90px;
  text-align: right;
}

.bukalapak-transaction-slip-buyer--label {
  display: block;
  float: left;
  clear: both;
  padding-right: 6px;
  width: 50%;
}

.bukalapak-transaction-slip-buyer--label:after {
  content: ":";
  float: right;
}

.bukalapak-transaction-slip-buyer--name,
.bukalapak-transaction-slip-buyer--phone {
  margin-bottom: 6px;
  width: 50%;
  float: right;
}

.notice {
  margin-top: 4px;
  border: 1px solid #ddd;
  padding: 6px;
}
