$booking-color-disable: #999;
$booking-color-black:   #000;

$color-white:           #fff;
$color-sand:            #f5f5f5;
$color-charcoal:        #666;

img {
  max-width: 100%;
  height: auto;
}

.booking-body {
  width: 8.3in;
  height: auto;
  margin: 0 auto;
  padding: .5in;

  table {
    font-size: 95%;
    table-layout: fixed;
    width: 100%;

    border-collapse: collapse;
    border-spacing: 0;
  }

  th,
  td {
    border-width: 0;
    padding: .5em;
    position: relative;
    text-align: left;
  }

  .table-auto {
    table-layout: auto;
  }

  .booking-header {
    margin-bottom: 1em;

    &__job {
      width: 25%;
      text-align: center;
      padding-top: 1.2em;
    }

    &__barcode {
      width: 50%;
      text-align: center;
      vertical-align: middle;
    }

    &__jne {
      width: 25%;
      text-align: center;
      padding-top: 2.3em;
    }

    &__jnt {
      width: 30%;
      text-align: center;
      padding-top: 2.3em;
    }

    &__general-awb {
      width: 50%;
      text-align: right;
      padding: 0;
      vertical-align: middle;
    }

    &__barcode-jnt {
      width: 35%;
      text-align: center;
      vertical-align: middle;
    }

    &__bukalapak {
      width: 35%;
      text-align: center;
      vertical-align: middle;
    }

    &__bukalapak--small {
      width: 50%;
      text-align: left;
      padding: 0;
    }

    &--general-awb {
      margin-bottom: .5em;
      margin-top: .5em;
    }
  }

  .booking-detail {
    border: 2px solid $booking-color-black;
    margin-bottom: .5em;
  }

  .booking-estimation {
    text-align: right;
  }

  .booking-heading {
    font-size: 1.4em;
    font-weight: bold;

    &__jne {
      color: $color-white !important;
      text-transform: uppercase;
      padding-left: .5em;
      position: absolute;
      top: 6px;
      -webkit-print-color-adjust: exact;
    }

    &__background {
      height: 2em;
      width: 100%;
    }
  }

  .mb {
    margin-bottom: 1em;
  }

  .half-width {
    width: 50%;
  }

  .quarter-width {
    width: 25%;
  }

  .text-right {
    text-align: right;
  }

  .booking-code-booking {
    font-size: 16px;
    font-weight: bold;
  }

  .booking-divider {
    border: 0;
    border-bottom: 1px dotted $booking-color-disable;

    margin-top: 10px;
    margin-bottom: 10px;

    &--dashed {
      border-style: dashed;
    }

    &--solid {
      border-style: solid;
    }
  }

  fieldset {
    border-width: 2px;
    border-style: groove;
    border-color: $booking-color-black;

    legend {
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .booking-disclaimer {
    padding: 5px;
    font-size: 12px;
  }

  .booking-list-item-pos tr {
    border-top: 1px solid $booking-color-disable;

    &:last-child {
      border-bottom: 1px solid $booking-color-disable;
    }

    td {
      width: 25%;
      border-left: 1px solid $booking-color-disable;

      &:last-child {
        width: 75%;
        border-left: 0;
        border-right: 1px solid $booking-color-disable;
      }
    }
  }

  .booking-list-item-jne tr {
    &:first-child {
      border-bottom: 1px solid $booking-color-disable;
      background: $color-sand;
    }
  }

  .booking-jnt-wrapper {
    width: 49%;
    display: inline-block;
    float: left;
  }

  .booking-detail-jnt {
    margin-top: 6px;

    tr td:last-child {
      border-left: 1px solid $booking-color-black;
    }
  }

  .booking-detail-jnt-box {
    width: 24px;
    height: 24px;
    border: 1px solid $booking-color-black;
    display: inline-block;
    position: absolute;
  }

  .booking-detail-jnt-box-label {
    display: inline-block;
    margin: 3px 0 0 32px;
  }

  .booking-detail-jnt-notes {
    width: 49%;
    font-size: 10px;
    display: inline-block;
    padding-left: 6px;

    &__notes-right {
      text-align: right;
      text-decoration: underline;
    }
  }
}

.booking-wrapper {
  border: 3px solid $booking-color-black;
  padding: 1em;

  &__jne {
    border: 3px dashed $booking-color-black;
  }

  &__general-awb {
    border-width: 1px;
    padding: 1.5em;
    font-size: 12px;
  }
}
