$color-brand:                #d71149;
$color-brand--dark:          #c30f42;
$color-brand--superdark:     #ad123b;

$color-black:                #333;
$color-white:                #fff;
$color-sand:                 #f5f5f5;
$color-sand--light:          #fafafa;
$color-ash:                  #bbb;
$color-ash--dark:            #999;
$color-ash--light:           #ddd;
$color-yellow:               #ffc53e;

.c-btn {
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  margin: 0;
  padding: 7px 24px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  overflow: visible;
  border-radius: 2px;
  transition: color .3s ease-out, background .3s ease-out;
  border-width: 1px;
  border-style: solid;
  border-color: $color-ash--light;
  background-color: $color-sand--light;
  color: $color-black;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: $color-brand;
  }

  &:hover,
  &:focus {
    background-color: $color-sand--light;
  }

  &:active {
    background-color: $color-ash--light;
  }
}


.c-btn--red {
  background-color: $color-brand;
  border-color: $color-brand;

  &,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: $color-white;
  }

  &:hover,
  &:focus {
    background-color: $color-brand--dark;
    border-color: $color-brand--dark;
  }

  &:active {
    background-color: $color-brand--superdark;
    border-color: $color-brand--superdark;
  }
}
