$global-spacing-unit:        24px;
$global-spacing-unit--small: 12px;

$color-brand:                #d71149;
$color-brand--dark:          #c30f42;
$color-brand--superdark:     #ad123b;

$color-black:                #333;
$color-white:                #fff;
$color-sand:                 #f5f5f5;
$color-sand--light:          #fafafa;
$color-ash:                  #bbb;
$color-ash--dark:            #999;
$color-ash--light:           #ddd;
$color-yellow:               #ffc53e;

.c-panel {
  padding: 12px;
  margin-bottom: 12px;

  background-color: #f5f5f5;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;

  &--no-background {
    background-color: $color-white;
  }

  &--rounded {
    border-radius: 2px;
  }
}

.c-panel:last-of-type {
  margin-bottom: 0;
}

.c-panel--border {
  border-style: dotted;
}
