$global-spacing-unit:        24px;
$global-spacing-unit--small: 12px;

$color-ash--light:           #ddd;

.c-table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  thead > tr > th {
    text-align: left;
    vertical-align: bottom;
    font-weight: normal;
    color: #999;
  }

  th,
  td {
    padding: 6px;
    border: 0;
  }
}

.c-table--rows {
  th {
    border: 0 solid $color-ash--light;
    border-bottom-width: 1px !important;
  }
  tr:first-child td {
    padding-top: 10px;
  }
}


.c-table--equal {
  table-layout: fixed;
}

.c-table--auto {
  table-layout: auto !important;
}
