// TODO: split styles for flight e-ticket into separate
//       stylesheet
.flight__footer-eticket {
  position: relative;
  height: pixel-to-mm(125px);

  > img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }

  .flight__footer {
    position: absolute;
    bottom: 0;
    color: #fff !important;
    width: 100%;
    border: 0;
    padding: pixel-to-mm(14px) pixel-to-mm(18px);
  }
}

.flight__footer-social-media {
  float: left;
}

.flight__footer-customer-number {
  float: right;
}

.page-break {
  display: block;
  clear: both;
  page-break-after: always;
}

.flight__footer {
  font-size: pixel-to-mm(8px);
  width: pixel-to-mm(535px);
  border-top: solid pixel-to-mm(1px) #ddd;
  padding-top: pixel-to-mm(6px);
  padding-bottom: pixel-to-mm(18px);

  &-label {
    display: inline-flex;
    align-items: center;

    & + & {
      margin-left: pixel-to-mm(18px);
    }
  }

  &-logo {
    width: pixel-to-mm(16px);

    &--social {
      background-color: #fff !important;

      border-radius: 50%;
      height: pixel-to-mm(16px);
    }

    img {
      width: 100%;
    }
  }

  &-value {
    font-size: pixel-to-mm(10px);
    font-weight: bold;
    margin-left: pixel-to-mm(4px);
  }
}
.add-padding {
  padding-left: pixel-to-mm(30px);
  padding-right: pixel-to-mm(30px);
}

.u-display-flex {
  display: flex;
}

.u-flex {
  flex: 1;
}

.u-txt--xtiny {
  font-size: pixel-to-mm(8px);
}

.u-txt--xxtiny {
  font-size: pixel-to-mm(7px);
}

.u-mrgn-top--half {
  margin-top: rem-calc(3px) !important;
}

// main page for invoice print
#flight,
#train,
#invoice,
.event {

  h1,
  h2,
  h3 {
    font-weight: normal;
    margin: 0;
  }

  h1,
  .h1 {
    font-size: pixel-to-mm(14px);
  }

  h2,
  .h2 {
    font-size: pixel-to-mm(12px);
  }

  h3,
  .h3 {
    font-size: pixel-to-mm(8px);
  }

  p {
    margin-top: pixel-to-mm(6px);
    margin-bottom: 0;
  }

  p:first-of-type {
    margin-top: 0;
  }

  // Flight invoice
  .invoice {
    font-size: pixel-to-mm(8px);

    &__header {
      margin-bottom: pixel-to-mm(12px);
      h1 {
        margin-top: pixel-to-mm(24px);
      }
      img {
        width: pixel-to-mm(159px);
        height: pixel-to-mm(27px);
      }
    }

    &__general-info {
      margin-bottom: pixel-to-mm(24px);
    }

    &__buyer-details {
      width: 100%;
      background-color: #fafafa !important;
      padding-top: pixel-to-mm(2px);
      padding-bottom: pixel-to-mm(2px);
      margin-bottom: pixel-to-mm(18px);

      .invoice__buyer-name,
      .invoice__buyer-email,
      .invoice__buyer-partner {
        display: block;
        padding: pixel-to-mm(12px);
        float: left;
      }

      &-col-wrapper {
        display: block;
        padding: pixel-to-mm(6px) 0;
        float: left;

        + .invoice__buyer-details-col-wrapper > .invoice__buyer-details-col {
          border-left: pixel-to-mm(1px) solid #eee;
        }
      }

      &-col {
        padding: pixel-to-mm(6px) pixel-to-mm(12px);
      }

      h2 {
        display: block;
        font-size: pixel-to-mm(8px);
        font-weight: bold;
        background-color: #ddd !important;
        margin-top: pixel-to-mm(-2px);
        margin-bottom: pixel-to-mm(-2px);
        padding: pixel-to-mm(16px) pixel-to-mm(18px);
        float: left;
      }

      &:after {
        clear: both;
        content: "";
        display: block;
      }
    }

    &__passengers-details,
    &__payment-details {
      h2 {
        margin-bottom: pixel-to-mm(6px);
      }
    }

    &__buyer-name,
    &__buyer-email {
      border-right: solid pixel-to-mm(1px) #eee;
    }

    .invoice-other-details {
      margin-bottom: pixel-to-mm(42px);
      tr,
      td {
        border: 0;
      }
    }

    &__details {
      h2 {
        margin-bottom: pixel-to-mm(12px);
        font-weight: bold;
      }

      table {
        width: 100%;
      }

      td,
      th {
        border: solid pixel-to-mm(1px) #ddd;
        padding: pixel-to-mm(6px);

        &:first-child {
          border-left: 0;
        }

        &:last-child {
          border-right: 0;
        }
      }

      th {
        font-size: pixel-to-mm(10px);
      }

      td {
        font-size: pixel-to-mm(8px);

        &.gray {
          color: #666;
        }

        &.remove-border {
          border: 0;
        }
      }

      tr.no-border-bottom > td {
        border-left: 0;
      }

      tr.no-border-bottom > td:first-of-type {
        border-right: 0;
        border-bottom: 0;
      }

      tr.no-border-bottom + tr.no-border-bottom > td:first-child {
        border-top: 0;
        border-left: 0;
      }
    }

    &__flights {
      p {
        margin-top: 3px;
        margin-bottom: 0;
      }

      p:first-of-type {
        margin-top: 0;
      }
    }
  }

  // Flight eticket
  .ticket {
    padding: 0;

    font-size: pixel-to-mm(8px);

    position: relative;

    &__header {
      margin-bottom: pixel-to-mm(12px);
      display: flex;
      align-items: center;

      img {
        width: pixel-to-mm(159px);
        height: pixel-to-mm(27px);
      }
    }

    &__general-info {
      margin-top: pixel-to-mm(24px);
      margin-bottom: pixel-to-mm(18px);

      h1 {
        font-size: pixel-to-mm(14px);
      }
    }

    &__booking-info {
      flex: 1;
      font-size: pixel-to-mm(16px);
      text-align: right;

      h2 {
        margin: 0;
        font-size: pixel-to-mm(10px);
        font-weight: normal;
      }
    }

    &__booking-id {
      font-size: pixel-to-mm(12px);
      font-weight: bold;
    }

    &__refundable {
      background-color: #87cc62 !important;
      border-radius: 2px;
      color: #fff;
      display: inline-block;

      // TODO: Works only in Chrome

      font-size: pixel-to-mm(10px);
      font-weight: bold;

      margin-top: pixel-to-mm(6px);
      padding: pixel-to-mm(2px) pixel-to-mm(6px);
    }


    &__flight-info {
      border-top: solid pixel-to-mm(1px) #ddd;
      border-bottom: solid pixel-to-mm(1px) #ddd;
      width: 100%;
      margin-bottom: pixel-to-mm(18px);

      td {
        border: 0;
        padding-top: pixel-to-mm(6px);
        padding-bottom: pixel-to-mm(6px);
      }

      tr:first-of-type td {
        padding-top: pixel-to-mm(12px);
        padding-bottom: pixel-to-mm(6px);
      }
      tr:last-of-type td {
        padding-bottom: pixel-to-mm(12px);
      }
    }

    td.ticket__flight-info-left {
      border-right: solid pixel-to-mm(1px) #ddd;
      width: pixel-to-mm(157px);
      text-align: left;

      > div {
        display: inline-block;
        padding: 0;
      }
    }

    td.ticket__flight-info-right {
      padding-left: pixel-to-mm(16px);

      > div {
        float: left;
      }

      &:after {
        clear: both;
        content: "";
        display: block;
      }
    }

    &__airline-image {
      width: pixel-to-mm(48px);
      height: pixel-to-mm(48px);

      background-color: #fff;
      box-shadow: 0 2px 4px 0 rgba(221, 221, 221, .55);

      border: solid 2px #eee;
      border-radius: 50%;

      margin-bottom: pixel-to-mm(4px);

      img {
        width: 100%;
      }
    }

    &__airline-info {
      padding-left: pixel-to-mm(14px);
    }

    &__time-info {
      margin-right: pixel-to-mm(10px);
      font-size: pixel-to-mm(10px);

      &--etd {
        margin-bottom: pixel-to-mm(30px);
      }
    }

    &__flight-transit {
      width: 100%;
      padding-left: pixel-to-mm(50px);
      font-weight: bold;
    }

    &__stick {
      margin-right: pixel-to-mm(10px);
      .c-match {
        width: pixel-to-mm(6px);
        margin-top: pixel-to-mm(2px);

        &__head {
          height: pixel-to-mm(6px);
          width: pixel-to-mm(6px);
        }

        &__stick {
          height: pixel-to-mm(40px);
        }
      }
    }

    &__airport-info {
      position: relative;
      width: 80%;
      height: pixel-to-mm(70px);

      p {
        margin-bottom: 0;
        margin-top: pixel-to-mm(3px);
        width: 100%;

        &:first-of-type {
          margin-top: 0;
        }
      }

      > div {
        width: 100%;
      }

      &--destination {
        position: absolute;
        bottom: 0;
      }
    }

    &__passengers-info {
      width: 100%;

      td,
      th {
        border: 0;

        &:first-child {
          width: pixel-to-mm(250px);
        }
      }

      th {
        text-align: left;
        padding: pixel-to-mm(7px) 0;
        background-color: #f5f5f5;
      }

      th:first-child,
      td:first-child {
        padding-left: pixel-to-mm(20px);
      }

      tr:last-child {
        border-bottom: solid pixel-to-mm(1px) #ddd;

        td {
          padding-bottom: pixel-to-mm(12px);
        }
      }

      td {
        padding: pixel-to-mm(6px) 0 0;
      }

      tr:nth-child(2) td {
        padding-top: pixel-to-mm(12px);
      }
    }
  }

  .misc-information {
    font-size: pixel-to-mm(10px);
    margin-top: pixel-to-mm(18px);

    position: relative;

    a {
      color: #d71149;
      text-decoration: none;
    }

    h2 {
      margin-bottom: pixel-to-mm(8px);
      font-weight: bold;

      span {
        font-weight: normal;
      }
    }

    p {
      margin-bottom: pixel-to-mm(8px);
    }

    ol {
      padding: 0;
      list-style-position: inside;
    }
  }
}

// We end up reimplementating train ticket style....
#train {
  img.logo--bukalapak {
    width: pixel-to-mm(141px);
    height: pixel-to-mm(24px);
  }

  img.logo--kai {
    width: pixel-to-mm(89px);
    height: auto;
  }

  .ticket {

    &__general-info h2 {
      font-size: pixel-to-mm(16px);
    }

    &__booking-info {
      font-size: pixel-to-mm(10px);
    }

    &__information {
      border-top: solid 2px #ddd;
      border-bottom: solid 2px #ddd;
    }

    &__booking-code {
      border-right: solid 2px #ddd;
      img {
        width: pixel-to-mm(68px);
        height: pixel-to-mm(68px);
      }
    }
  }

  .train-schedule {
    margin-top: pixel-to-mm(9px);

    &__detail {
      display: flex;
    }

    &__time,
    &__station {
      > div {
        margin-bottom: pixel-to-mm(3px);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .c-match__stick {
      border-right: dashed 2px #ddd;
      background: transparent;
    }
  }

  .information ol {
    list-style-position: outside;
    margin-left: pixel-to-mm(6px);
  }
}

// Event Ticket /////////////////////////

.event {
  header {
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: pixel-to-mm(150px);
    justify-content: center;
    padding-left: pixel-to-mm(24px);
    padding-right: pixel-to-mm(24px);
    padding-top: pixel-to-mm(10px);
    text-align: center;
    margin: 0;

    > img {
      width: 100%;
    }
  }
  article {
    padding: pixel-to-mm(30px);
    padding-top: pixel-to-mm(10px);

    table.ticket-detail {
      font-size: pixel-to-mm(6px);

      td {
        border: 0;
        border-collapse: collapse;
        border-spacing: 0;
        font-size: pixel-to-mm(8px);
        margin: 0;
        span {
          display: table-cell;
          min-width: 30px;
        }
        > div {
          color: #999;
          margin-bottom: pixel-to-mm(2px);
        }
        > strong {
          font-size: pixel-to-mm(10px);
        }
        &.ticket-count {
          border-bottom: pixel-to-mm(2px) solid #eee;
          padding: 0 0 pixel-to-mm(12px);
        }
        &.qrcode {
          border-top: pixel-to-mm(2px) solid #eee;
          border-right: pixel-to-mm(2px) solid #eee;
          border-bottom: pixel-to-mm(2px) solid #eee;
          padding-right: pixel-to-mm(24px);
          text-align: left;
          vertical-align: middle;
          width: pixel-to-mm(140px);

          img {
            border: pixel-to-mm(2px) solid #eee;
            width: pixel-to-mm(96px);
          }
        }
      }
    }
    .ticket-note {
      color: #999;
      font-style: italic;
      margin: pixel-to-mm(12px) 0 pixel-to-mm(36px);
    }
    .ticket-terms {
      margin-top: pixel-to-mm(20px);
      font-size: pixel-to-mm(8px);
      li {
        font-size: pixel-to-mm(7.2px);
      }
    }
    h3 {
      font-size: pixel-to-mm(12px);
      font-weight: bold;
      margin: pixel-to-mm(18px) 0 pixel-to-mm(12px);
    }
    p,
    li {
      font-size: pixel-to-mm(9px);
    }
  }
}

.c-label {
  font-size: 10px;
  color: #fff;
  border-color: #ddd;
  background-color: #fafafa;
  line-height: 14px;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  margin: 0;
  padding: 1px 6px;
  overflow: visible;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  font-weight: 700;
}

.c-label--pink {
  border-color: #ff566a;
  background-color: #ff566a;
}
