$global-spacing-unit:        24px;
$global-spacing-unit--small: 12px;

.o-flag {
  display: table;
  width: 100%;
}

.o-flag__head,
.o-flag__body {
  display: table-cell;
  vertical-align: middle;
}

.o-flag__head {
  width: 1px;
  padding-right: 24px;
}
.o-flag--small > .o-flag__head {
  padding-right: 12px;
}

.o-flag__img {
  max-width: none;
}

.o-flag__body {
  width: auto;
}

.o-flag__body,
.o-flag__body > :last-child {
  margin-bottom: 0;
}

.o-flag--top > .o-flag__head,
.o-flag--top > .o-flag__body {
  vertical-align: top;
}
