$global-spacing-unit:        24px;
$global-spacing-unit--small: 12px;

.o-wrapper,
.o-container,
.o-container.o-container--responsive {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}
