.edit-terms-section-disabled {
  display: none;
}

.print-term-container {
  margin: 0 1.25cm;
  position: relative;
}

.terms-privacy-content {
  h6 {
    font-size: 12px;
  }

  a {
    text-decoration: none;
  }

  ul li {
    list-style-type: decimal;
  }
}

.signature-container {
  margin-top: 30px;
  page-break-inside: avoid;
  break-before: auto;
  float: right;
}

.signature {
  max-width: 202px;

  %fill {
    border-bottom: 1px solid #000;
    display: inline-block;
  }

  &__place {
    @extend %fill;
    width: 70px;
  }

  &__date {
    @extend %fill;
    width: 120px;
  }

  &__name {
    height: 100px;
    border: 0;
    border-bottom: 1px solid #000;
  }

  &__keterangan {
    font-size: 11px;
    word-wrap: break-word;
  }
}
