.bukalapak-transaction-slip{
  padding: 8px 9px;
  border: solid 1px #000;

  margin-bottom: 18px;

  width: 100%;

  position: relative;
}

.bukalapak-transaction-slip--brand{
  height: 28px;
  display: block;
  float: left;
}

.bukalapak-transaction-slip--heading{
  margin-top: 0;
  display: block;
  float: right;
  line-height: 1;
  font-size: 18px;
}

.bukalapak-transaction-slip--courier{
  margin-top: -5px;
  display: block;
  float: right;
  font-size: 14px;
  position: relative;
  width: 100%;
  text-align: right;
}

.bukalapak-transaction-slip-courier--note {
  font-size: 10px;
  font-weight: normal;
}

.bukalapak-transaction-slip-buyer{
  margin-top: 9px;
  margin-bottom: 9px;
  padding-right: 18px;
  clear: both;
  float: left;
  width: 62%;

  border-right: dotted 1px #000;
}

.bukalapak-transaction-slip-buyer--heading{
  font-weight: bold;
  margin-top: 0;
}

.bukalapak-transaction-slip-buyer--label{
  display: block;
  float: left;
  clear: both;

  width: 25%;
}

.bukalapak-transaction-slip-buyer--label:after{
  content: ":";
}

.bukalapak-transaction-slip-buyer--name,
.bukalapak-transaction-slip-buyer--phone{
  font-weight: bold;
}

.bukalapak-transaction-slip-buyer--address{
  display: block;
  float: left;
  font-weight: bold;

  width: 75%;

  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  // word-wrap: break-word;
  // word-break: break-all;
  white-space: normal;
}

.bukalapak-transaction-slip-seller{
  display: block;
  float: left;
  width: 38%;

  margin-top: 9px;
  margin-bottom: 9px;

  padding-left: 18px;
}

.bukalapak-transaction-slip-seller--heading{
  font-weight: bold;
  margin-top: 0em;
}

.bukalapak-transaction-slip-seller--lapak,
.bukalapak-transaction-slip-seller--name {
  white-space: nowrap;
}

.bukalapak-transaction-slip--footer{
  display: block;
  width: 100%;
  clear: both;

  margin-top: 18px;

  border-top: solid 1px #000;
  padding-top: 5px;

  font-size: 9px;
}

.bukalapak-transaction-slip--footer-dropshipper {
  margin-top: 0;
  padding-top: 0;

  border-top: solid #fff;

  font-size: 1px;
}

.bukalapak-transaction-product {
  clear: both;
  position: relative;
  width: 100%;
}

.bukalapak-transaction-product-item {
  width: 70%;
}

.bukalapak-transaction-product-sku {
  width: 10%;
}

.bukalapak-transaction-product-quantity {
  width: 20%;
}
