.u-align-center {
  text-align: center !important;
}
.u-align-left {
  text-align: left !important;
}
.u-align-right {
  text-align: right !important;
}
.u-align-justify {
  text-align: justify !important;
}

.u-txt--bold {
  font-weight: bold !important;
}
.u-txt--normal {
  font-weight: normal !important;
}
.u-txt--upcase {
  text-transform: uppercase;
}
.u-txt--downcase {
  text-transform: lowercase;
}
