.row{style: "margin-top: 8px"}
  .row-item.left-side.u-txt--caption Potongan harga barang
  .row-item.right-side.u-txt--caption.u-txt--success.u-align-right= "- Rp500.000"

.row{style: "margin-top: 8px"}
  .row-item.left-side.u-txt--caption Beli otomatis BukaEmas
  .row-item.right-side.u-txt--caption.u-align-right= "Rp5.000"

.row{style: "margin-top: 8px"}
  .row-item.left-side.u-txt--caption BukaDonasi
  .row-item.right-side.u-txt--caption.u-align-right= "Rp5.000"

.row{style: "margin-top: 8px"}
  .row-item.left-side.u-txt--caption Biaya asuransi Covid-19
  .row-item.right-side.u-txt--caption.u-align-right= "Rp10.000"

.row{style: "margin-top: 8px"}
  .row-item.left-side.u-txt--caption Voucher DANA
  .row-item.right-side.u-txt--caption.u-txt--success.u-align-right= "- Rp100.000"

.row{style: "margin-top: 8px"}
  .row-item.left-side.u-txt--caption Kode pembayaran
  .row-item.right-side.u-txt--caption.u-txt.u-align-right= "Rp.555"

.row{style: "margin-top: 8px"}
  .row-item.left-side.u-txt--caption Biaya pelayanan
  .row-item.right-side.u-txt--caption.u-align-right Gratis

.row{style: "margin-top: 8px"}
  .row-item.left-side.u-txt--caption Pembulatan
  .row-item.right-side.u-txt--caption.u-align-right= "Rp 1.000"

.row{style: "margin-top: 8px"}
  .row-item.left-side.u-txt--caption Cashback
  .row-item.right-side.u-txt--caption.u-txt--success.u-align-right= "- Rp50.000"

.row{style: "margin-top: 14px"}
  .row-item.left-side.u-txt--bold{style: "padding-top: 14px;border-top: 1px solid"} TOTAL BELANJA
  .row-item.right-side.u-txt--bold.u-align-right{style: "padding-top: 14px;border-top: 1px solid;"}= "Rp.5000.000"
