<!--<h2>Download file as attachment</h2>-->
<!--<p>url : /invoices/download?disposition=attachment</p>-->
<!--<button><a href="/transactions/download?disposition=attachment" target="_blank">Download pdf</a></button>-->
<!--<br>-->
<h2>Download file displayed</h2>
<!--<p>url : /invoices/download?disposition=inline</p>-->
<button><a href="/transactions/download?disposition=inline" target="_blank">Download pdf</a></button>