.invoice-print
  .row.row--in
    .row-item.u-pad--0
      .brand-logo
        = wicked_pdf_image_tag "https://assets.bukalapak.com/sigil/bukalapak-logo-primary.svg", style: "height: 24px;"
    .row-item{style: "text-align: right"}
      %h3.page-title Bukti Pembayaran
  .row.row--in{style: "padding-top: 40px;"}
    %dl.c-deflist.bg-paid{style: "padding-left: 6px"}
      %dt.c-deflist__label No. pesanan
      %dd.c-deflist__value.u-txt--semibold.u-txt--crimson BL221112RXFIINV
      %dt.c-deflist__label Total pembayaran
      %dd.c-deflist__value.u-txt--semibold Rp95.226
      %dt.c-deflist__label Tanggal pembelian
      %dd.c-deflist__value.u-txt--semibold Senin, 25 April 2022, 09:59 WIB
      %dt.c-deflist__label Pembeli
      %dd.c-deflist__value.u-txt--semibold Bagus Sadewo

  .row.row--in{style: "padding-top: 28px;"}
    .u-txt--semibold{style: "margin-bottom: 8px;"} Rincian pesanan
    %dl.c-deflist{style: "padding-left: 6px"}
      %dt.c-deflist__label Pelapak
      %dd.c-deflist__value Pedagang

  %table.c-table
    %thead
      %th{style: "width: 40%;"} Nama barang
      %th{style: "width: 10%;"} Jumlah
      %th{style: "width: 20%;"} Harga satuan
      %th Total harga
    %tbody
      %tr
        %td HP Samsung Galaxy Note 111
        %td 2
        %td Rp50.000
        %td Rp100.000
      %tr
        %td Laptop Asus ROG
        %td 1
        %td Rp1.500.000
        %td Rp1.500.000

  .row.u-break-page-inside-avoid{style: "padding-right: 32px;"}
    .row-item.left-side &nbsp;
    .row-item.right-side.u-pad--0
      .row
        .row-item.left-side.u-txt--semibold Subtotal belanja
        .row-item.right-side.u-txt--semibold.u-align-right Rp1.600.000
      .row{style: "margin-top: 8px"}
        .row-item.left-side.u-txt--caption Promo metode pembayaran
        .row-item.right-side.u-txt--caption.u-txt--success.u-align-right= "- Rp100.0000"
      .row{style: "margin-top: 8px"}
        .row-item.left-side.u-txt--caption Ongkir
        .row-item.right-side.u-txt--caption.u-align-right Gratis
      .row{style: "margin-top: 8px"}
        .row-item.left-side.u-txt--caption= "Biaya asuransi logistik"
        .row-item.right-side.u-txt--caption.u-align-right Rp10.000
      .row{style: "margin-top: 8px"}
        .row-item.left-side.u-txt--caption= "Biaya asuransi barang"
        .row-item.right-side.u-txt--caption.u-align-right Rp5.000
      .row{style: "margin-top: 8px"}
        .row-item.left-side.u-txt--caption= "Biaya asuransi elektronik"
        .row-item.right-side.u-txt--caption.u-align-right Rp15.000
      .row{style: "margin-top: 8px"}
        .row-item.left-side.u-txt--caption Pajak & cukai
        .row-item.right-side.u-txt--caption.u-align-right Rp20.000
      .row{style: "margin-top: 14px"}
        .row-item.left-side.u-txt--semibold{style: "padding-top: 14px;border-top: 1px solid"} Subtotal
        .row-item.right-side.u-txt--semibold.u-align-right{style: "padding-top: 14px;border-top: 1px solid;"} Rp1.640.000
      .row{style: "margin-top: 14px"}
        .row-item.left-side.u-txt--bold{style: "padding-top: 14px;border-top: 1px solid"} TOTAL BELANJA
        .row-item.right-side.u-txt--bold.u-align-right{style: "padding-top: 14px;border-top: 1px solid;"} Rp1.640.000

  .u-break-page-inside-avoid
    .o-container
      %hr{style: "margin: 24px -5px 14px 0px;"}
      .u-txt--semibold= "Detail pembayaran 2 pesanan)"
      %ol{style: "padding-right: 16px;"}
        %li
          .row{style: "display: inline-block; vertical-align: top;"}
            .row-item.left-side{style: "width: 75%; padding-left: 0;"}
              = "12345678910"
              = " - "
              = "Pedagang" #trx_id-store name
            .row-item.right-side.u-align-right{style: "width: 25%"}
              = "Rp1.640.000"
        %li
          .row{style: "display: inline-block; vertical-align: top;"}
            .row-item.left-side{style: "width: 75%; padding-left: 0;"}
              = "10987654321"
              = " - "
              = "Pedagang Lain" #trx_id-store name
            .row-item.right-side.u-align-right{style: "width: 25%"}
              = "Rp5.000.000"
    .row{style: "padding-right: 32px;"}
      .row-item.left-side &nbsp;
      .row-item.right-side.u-pad--0
        .row
          .row-item.left-side.u-txt--semibold{style: "padding-top: 14px;border-top: 1px solid"}= "Total 2 pesanan"
          .row-item.right-side.u-txt--semibold.u-align-right{style: "padding-top: 14px;border-top: 1px solid;"}= "Rp 6.640.000"
        = render 'c_print_preview_pdf_detail'

  .o-container
    %hr{style: "margin: 24px 0px;"}
  .row.u-break-page-inside-avoid{style: "padding-right: 32px"}
    .row-item.left-side
      .u-txt--semibold{style: "padding-bottom: 4px;"} Alamat pengiriman:
      %div Jl Raya Kembangan No 12 RT09/RW07
      %div Kembangan
      %div Jakarta Barat
      %div DKI Jakarta
      %div 12345
    .row-item.right-side{style: "padding-right: 0"}
      .u-txt--semibold{style: "margin-bottom: 8px;"} Metode pembayaran
      .row.u-txt--subdued{style: "margin-bottom: 8px;"}
        .row-item.left-side{style: "padding-left: 0"}
          .o-flag
            .o-flag__head{style: "padding-right: 4px;"}= wicked_pdf_image_tag "https://assets.bukalapak.com/tuku/assets/images/b6df8590cc3aad5b07d7a2685ea21612.png", style: "height: 16px; max-width: none"
            .o-flag__body= "BCA Virtual Account"
        .row-item.right-side.u-align-right= "Rp5.000.000"
      .row.u-txt--subdued{style: "margin-bottom: 8px;"}
        .row-item.left-side{style: "padding-left: 0"}
          .o-flag
            .o-flag__head{style: "padding-right: 4px;"}= wicked_pdf_image_tag "https://assets.bukalapak.com/tuku/assets/images/e082e08889c09107d97faca6e9388ebc.png", style: "height: 16px; max-width: none"
            .o-flag__body Potongan saldo DANA
        .row-item.right-side.u-align-right= "Rp1.000.000"
      .row.u-txt--subdued
        .row-item.left-side{style: "padding-left: 0"}
          .o-flag
            .o-flag__head{style: "padding-right: 4px;"}= wicked_pdf_image_tag "https://assets-fe-preproduction.bukalapak.com/tuku/assets/images/aeab8603e075bf3c25570332cc91f3df.png", style: "height: 16px; max-width: none"
            .o-flag__body Potongan saldo BukaDompet
        .row-item.right-side.u-align-right= "Rp640.000"
%script
  print();
