!!!5
%html
  %head
    %meta{charset: "utf-8"}
    %meta{http_equiv: "X-UA-Compatible", content: "IE=edge"}
    %meta{name: "viewport",  content: "width=device-width, initial-scale=1"}
    = stylesheet_link_tag(wicked_pdf_asset_base64('transactions-print'))

%body
  #page
    = yield
